<p id="notice"><%= flash[:notice] %></p>
<h1>Movie Catalog</h1>

<button><%= link_to 'Best Available Seats', root_url %></button>
<button><%= link_to 'Add Movie', new_movie_path %></button>

<ul>
  <% @movies.each do |movie| %>
  <li>
    <p>Title: <%= movie.title %></p>
    <p>Summary: <%= movie.summary %></p>
    <button><%= link_to 'Show', movie %></button>
    <button><%= link_to 'Edit', edit_movie_path(movie) %></button>
    <button><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </li>
  <% end %>
</ul>
